<h1>Earthquakes</h1>

<div id="map"></div>
<% %w[lat lon].each do |cardinal| %>
  <input type="hidden" id="map_center_<%= cardinal %>" value="<%= @earthquakes.map{|e| e.send(cardinal).to_f }.reduce(:+).to_f / @earthquakes.size %>">
<% end %>

<table class="earthquakes">
  <tr>
    <th>Src</th>
    <th>Eqid</th>
    <th>Version</th>
    <th>Datetime</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Magnitude</th>
    <th>Depth</th>
    <th>Nst</th>
    <th>Region</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @earthquakes.each do |earthquake| %>
  <tr class="earthquake">
    <td><%= earthquake.src %></td>
    <td><%= earthquake.eqid %></td>
    <td><%= earthquake.version %></td>
    <td><%= earthquake.datetime %></td>
    <td class='lat'><%= earthquake.lat %></td>
    <td class='lon'><%= earthquake.lon %></td>
    <td><%= earthquake.magnitude %></td>
    <td><%= earthquake.depth %></td>
    <td><%= earthquake.nst %></td>
    <td><%= earthquake.region %></td>
    <td><%= link_to 'Show', earthquake %></td>
    <td><%= link_to 'Edit', edit_earthquake_path(earthquake) %></td>
    <td><%= link_to 'Destroy', earthquake, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Earthquake', new_earthquake_path %>
