.h1 Earthquakes

#map
- %w[lat lon].each do |cardinal|
  - map_center = @earthquakes.map{|e| e.send(cardinal).to_f }.reduce(:+).to_f / @earthquakes.size
  %input{ :type => "hidden", :id => "map_center_#{cardinal}", :value => map_center }

%table.earthquakes
  %tr
    %th Src
    %th Eqid
    %th Version
    %th Datetime
    %th Lat
    %th Lon
    %th Magnitude
    %th Depth
    %th Nst
    %th Region  

  - @earthquakes.each do |earthquake|
    <tr class="earthquake">
      %td= earthquake.src
      %td= earthquake.eqid
      %td= earthquake.version
      %td= earthquake.datetime
      %td.lat= earthquake.lat
      %td.lon= earthquake.lon
      %td= earthquake.magnitude
      %td= earthquake.depth
      %td= earthquake.nst
      %td= earthquake.region

