.h1 Earthquakes

#map
- %w[x y].each do |cardinal|
  - center_along_cardinal = @earthquakes.map{|e| e.coordinates.send(cardinal).to_f }.reduce(:+).to_f / @earthquakes.count
  %input{ :type => "hidden", :id => "map_center_#{cardinal}", :value => center_along_cardinal }

%table.earthquakes
  %tr
    %th usgs id
    %th time
    %th Lat
    %th Lon
    %th Magnitude
    %th location
    %th Average Magnitude

  - @earthquakes.each do |earthquake|
    %tr.earthquake
      %td= earthquake.usgs_id
      %td= earthquake.time
      %td.lat= earthquake.coordinates.x
      %td.lon= earthquake.coordinates.y
      %td= earthquake.magnitude
      %td.title= earthquake.title
      %td= earthquake.average_magnitude

