<p id="notice"><%= notice %></p>

<p>
  <b>Src:</b>
  <%= @earthquake.src %>
</p>

<p>
  <b>Eqid:</b>
  <%= @earthquake.eqid %>
</p>

<p>
  <b>Version:</b>
  <%= @earthquake.version %>
</p>

<p>
  <b>Datetime:</b>
  <%= @earthquake.datetime %>
</p>

<p>
  <b>Lat:</b>
  <%= @earthquake.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @earthquake.lon %>
</p>

<p>
  <b>Magnitude:</b>
  <%= @earthquake.magnitude %>
</p>

<p>
  <b>Depth:</b>
  <%= @earthquake.depth %>
</p>

<p>
  <b>Nst:</b>
  <%= @earthquake.nst %>
</p>

<p>
  <b>Region:</b>
  <%= @earthquake.region %>
</p>


<%= link_to 'Edit', edit_earthquake_path(@earthquake) %> |
<%= link_to 'Back', earthquakes_path %>
